<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="~/favicon/Tic-Tac-Toe_favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/styles.css" rel="stylesheet" />
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="tictactoe">
            <p><b>Tic-Tac-Toe</b></p>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        <footer>
        </footer>
    </div>
</body>
</html>